n8n/demo-data/workflows/podcast-generator.json

{
  "name": "Podcast Generator",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "path": "generate-podcast",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        440,
        300
      ],
      "webhookId": "b1f7b7e1-8c9c-4e1a-8e5a-6d8f8e7a8b6f"
    },
    {
      "parameters": {
        "url": "http://voice-gateway:9000/v1/audio/speech",
        "options": {},
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{$json.body.text}}"
            }
          ]
        }
      },
      "name": "Generate Speech",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "options": {
          "response": {
            "responseFormat": "file",
            "responseData": "={{$binary.data}}"
          }
        }
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        840,
        300
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Generate Speech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Speech": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "3"
}
