n8n/demo-data/workflows/voice-assistant-with-memory.json

{
  "name": "Voice Assistant with Memory",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "path": "assistant",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        440,
        300
      ],
      "webhookId": "b1f7b7e1-8c9c-4e1a-8e5a-6d8f8e7a8b6f"
    },
    {
      "parameters": {
        "url": "http://voice-gateway:9000/v1/audio/transcriptions",
        "options": {},
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{$binary.data}}"
            }
          ]
        }
      },
      "name": "Transcribe Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        640,
        300
      ]
    },
    {
      "parameters": {
        "collectionName": "conversations",
        "operation": "search",
        "embedding": "{{$json.text}}",
        "limit": 1
      },
      "name": "Qdrant Search",
      "type": "n8n-nodes-base.qdrant",
      "typeVersion": 1,
      "position": [
        840,
        300
      ]
    },
    {
      "parameters": {
        "model": "llama3.2",
        "prompt": "Previous conversation: {{$json.documents[0].pageContent}}\\n\\nCurrent prompt: {{$json.text}}"
      },
      "name": "Ollama Chat",
      "type": "n8n-nodes-base.ollama",
      "typeVersion": 1,
      "position": [
        1040,
        300
      ]
    },
    {
      "parameters": {
        "collectionName": "conversations",
        "operation": "upsert",
        "embedding": "{{$json.response}}",
        "documents": [
          {
            "pageContent": "{{$json.response}}"
          }
        ]
      },
      "name": "Qdrant Upsert",
      "type": "n8n-nodes-base.qdrant",
      "typeVersion": 1,
      "position": [
        1240,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://voice-gateway:9000/v1/audio/speech",
        "options": {},
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{$json.response}}"
            }
          ]
        }
      },
      "name": "Generate Speech",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1440,
        300
      ]
    },
    {
      "parameters": {
        "options": {
          "response": {
            "responseFormat": "file",
            "responseData": "={{$binary.data}}"
          }
        }
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1640,
        300
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Qdrant Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Search": {
      "main": [
        [
          {
            "node": "Ollama Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat": {
      "main": [
        [
          {
            "node": "Qdrant Upsert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Upsert": {
      "main": [
        [
          {
            "node": "Generate Speech",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Speech": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "id": "4"
}
